<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENERGYM | Fitness Club</title>
    <script src="https://kit.fontawesome.com/09b2ffa585.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/app.css">
</head>
<body>
    <header>
        <div  class="text-white font-medium flex justify-between h-32 bg-gris">
            <a href="/">
                <img src="/images/logo-energym2.png" alt="Energym Fitness Club" class="pl-4 h-32">
            </a>
            <nav class="flex items-center">
                <ul class="flex gap-4 justify-between">
                    <li class="px-2">
                        <a href="/" class="hover:underline hover:transition ease-in-out hover:text-verde">INICIO</a>
                    </li>
                    <li class="px-2">
                        <a href="#" class="hover:underline hover:transition ease-in-out hover:text-verde">NOSOTROS</a>
                        <ul class="hidden">
                            <li><a href="#">¿QUIÉNES SOMOS?</a></li>
                            <li><a href="#">INSTRUCTORES</a></li>
                            <li><a href="#">FAQS</a></li>
                        </ul>
                    </li>
                    <li class="px-2">
                        <a href="/planes/" class="hover:underline transition ease-in-out hover:text-verde">PLANES</a>
                    </li>
                    <li class="px-2">
                        <a href="#" class="hover:underline transition ease-in-out hover:text-verde">CONTACTO</a>
                    </li>
                    <li class="px-2">
                        <a href="/cuenta/" class="transition ease-in-out hover:text-verde"><i class="fa-solid fa-user"></i></a>
                    </li>
                    <li class="px-2">
                        <a href="#" class="transition ease-in-out hover:text-verde"><i class="fa-solid fa-cart-shopping"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="flex flex-col items-center gap-4 h-screen">
        <h1 class="text-7xl text-center py-4 text-verde">Cuenta</h1>
        <div class="flex flex-col items-center gap-4">
            <a href="#" class="transition ease-in-out font-bold border-1 py-2 px-8 rounded-3xl hover:bg-verde hover:text-white hover:border-verde">Registrarse</a>
            <a href="#" class="transition ease-in-out hover:text-verde hover:font-bold">Iniciar sesión</a>
        </div>
    </div>

    <footer class="h-16 flex justify-center items-center bg-gris">
        <p class="font-medium text-center text-white">
            &copy; 2025 <span class="hover:underline">ENERGYM</span> - Creado por Crisbel Cedeño
        </p>
    </footer>
    
    <script src="/components/nav.js"></script>
</body>
</html>