<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENERGYM | Fitness Club</title>
    <script src="https://kit.fontawesome.com/09b2ffa585.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/app.css">
</head>
<body>
    <header class="text-white font-medium flex justify-between h-32">
        <a href="/">
            <img src="/images/logo-energym2.png" alt="Energym Fitness Club" class="pl-4 h-32">
        </a>
        <nav class="flex items-center">
            <ul class="flex gap-4 justify-between">
                <li class="px-2">
                    <a href="/" class="hover:underline transition ease-in-out">INICIO</a>
                </li>
                <li class="px-2">
                    <a href="#" class="hover:underline transition ease-in-out">NOSOTROS</a>
                    <ul class="hidden">
                        <li><a href="#">¿QUIÉNES SOMOS?</a></li>
                        <li><a href="#">INSTRUCTORES</a></li>
                        <li><a href="#">FAQS</a></li>
                    </ul>
                </li>
                <li class="px-2">
                    <a href="#" class="hover:underline transition ease-in-out">PLANES</a>
                </li>
                <li class="px-2">
                    <a href="#" class="hover:underline transition ease-in-out">CONTACTO</a>
                </li>
                <li class="px-2">
                    <a href="/login/index.html" class="transition ease-in-out"><i class="fa-solid fa-user"></i></a>
                </li>
                <li class="px-2">
                    <a href="#" class="transition ease-in-out"><i class="fa-solid fa-cart-shopping"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    
    <div class="flex flex-col items-center gap-4 h-screen">
        <h1 class="text-7xl text-center py-4">Cuenta</h1>
        <div class="flex flex-col items-center gap-4">
            <a href="#" class="font-bold">Iniciar sesión</a>
            <a href="#">Registrarse</a>
        </div>
    </div>

    <footer class="h-16 flex justify-center items-center">
        <p class="font-medium text-center text-white">
            &copy; 2025 <span class="hover:underline">ENERGYM</span> - Creado por Crisbel C
        </p>
    </footer>
    
    <script src="/components/nav.js"></script>
</body>
</html>